{% extends 'base.html' %}
{% block title %}
    Login Page
{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center vh-100">
    <form method="POST" class="form-signin" style="color:white; max-width: 400px; width: 100%;">
        {{ form.hidden_tag() }}
        <div class="text-center mb-4">
            <img class="mb-4" src="https://www.seekpng.com/png/full/433-4331367_batman-logo-satin-premium-emblem-logo-logo-png.png" alt="" style="height: 6rem;">
            <h1 class="h3 mb-3 font-weight-normal">Please Login</h1>
        </div>
        <div class="form-group">
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control form-control-custom", placeholder="User Name") }}
        </div>

        <div class="form-group">
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control form-control-custom", placeholder="Password") }}
        </div>

        <div class="form-group text-center mb-4">
            <h6>Do not have an account?</h6>
            <a class="btn btn-futuristic btn-sm" href="{{ url_for('register_page') }}">Register</a>
        </div>

        {{ form.submit(class="btn btn-futuristic btn-lg btn-block") }}
    </form>
</div>
{% endblock %}
